$header_menu_user_wrapper = $('#header-menu-user-wrapper')
logged_in = $html.hasClass('logged_in')

$modal_windows_wrapper = $("#modal-windows-wrapper")

modalOpenClass = 'modal-open'
modalCloseTriggerClass = 'modal-close-trigger'

submitButtonClass = 'input-submit'

loginLinkClass = 'login'
logoutLinkClass = 'logout'

popupLinkClass = 'popup-link'

$login_link = $('#header-menu-user-wrapper a.popup-link.login')

registration_location = false
registration_event_id = false

delay_before_remove_popup = 2000

submitButtonProgressClass = 'progress-bar-moving-bg'

sendMePasswordSubmitButtonClass = 'send-me-password-submit-button'
signUpSubmitButtonClass = 'sign-up-submit-button'
signInSubmitButtonClass = 'sign-in-submit-button'
resendMeConfirmationSubmitButtonClass = 'resend-me-confirmation-submit-button'
unlockMeSubmitButtonClass = 'unlock-me-submit-button'

<%
    def path( name, options = {} )
        Rails.application.routes.url_helpers.send("#{name}_path", options)
    end

    def js_path( name, options = {} )
        "\"#{path(name, options)}\""
    end

    def routes
        Rails.application.routes.url_helpers
    end
%>

config = {
    routes: {
        new_user_session: <%= js_path(:new_user_session, locale: I18n.locale) %>,
        edit_user_registration: <%= js_path(:edit_user_registration, locale: I18n.locale) %>,
        my_events: <%= js_path(:root, locale: I18n.locale) %>,
        user_session_destroy_form: <%= js_path(:user_session_destroy_form, locale: I18n.locale) %>

    }
}

function path(name){
    if(config.routes.hasOwnProperty(name)){
        return config.routes[name]
    }
    return false
}

function remove_with_delay(element_to_remove, delay){
    delay = delay || delay_before_remove_popup
    $elem = $(element_to_remove)
    $elem.remove()
//    if($elem.length > 0){
//        setTimeout(function(){
//            $elem.remove()
//        }, delay);
//    }

}

$header_menu_user_wrapper.on('click', '.popup-link', function(event){
    var $link = $(this)
    var url = $link.attr('href')



    if($link.hasClass(loginLinkClass) || !logged_in) {
        //if (!logged_in) {
            event.preventDefault()
            $.ajax({
                dataType: 'html',
                url: path('new_user_session'),
                type: 'GET',
                data: 'modal=true',
                success: function (data) {
                    var $modal = $(data)
                    $modal.addClass(modalOpenClass)
                    $modal_windows_wrapper.append($modal)
                }

            })
        //}
        //else{

        //}
    }
    else{
        event.preventDefault()
        $.ajax({
            dataType: 'html',
            url: path('user_session_destroy_form'),
            type: 'GET',
            data: 'modal=true',
            success: function (data) {
                var $modal = $(data)
                $modal.addClass(modalOpenClass)
                $modal_windows_wrapper.append($modal)
            }

        })
    }


})



$modal_windows_wrapper.on('click', ['label.' + modalCloseTriggerClass, 'input.' + submitButtonClass, 'a.' + popupLinkClass].join(','), function(event){
    var $this = $(this)
    var $popup = $this.closest('.popup')

    if($this.hasClass(modalCloseTriggerClass)){
        $popup.removeClass(modalOpenClass)
        remove_with_delay($popup)

        registration_event_id = false
        registration_location = false
    }
    else if($this.hasClass(submitButtonClass)){
        event.preventDefault()

        var $submit_button = $this

        var $form = $this.closest('form')
        var $devise_form_wrap = $('.devise-form-wrap')
        var $errors = $devise_form_wrap.find('> div.errors')
        var form_data = $form.serialize()
        var url = $form.attr('action')
        var method = $form.attr('method')

        form_data += "&modal=true"

        if(registration_location) {
            form_data += "&registration_location=" + registration_location
        }

        if(registration_event_id){
            form_data += "&registration_event_id=" + registration_event_id
        }


        valid_form = true

        //if($submit_button.hasClass(signUpSubmitButtonClass)){

        //}
        //else if($submit_button.hasClass(signInSubmitButtonClass)){

        //}
        //else if($submit_button.hasClass())

        valid_form = validateForm($form)


        if(valid_form) {

            $submit_button.addClass(submitButtonProgressClass);

            $.ajax({
                url: url,
                type: method,
                data: form_data,
                dataType: 'json',
                complete: function (jqXHR, textStatus) {
                    //console.log('this:', $this)

                    $submit_button.removeClass(submitButtonProgressClass)
                    var response_text = jqXHR.responseText
                    var data = $.parseJSON(response_text)


                    console.log('data: ', data)

                    var errors = {}
                    if(data.hasOwnProperty('errors')){
                        errors = data['errors']
                    }

                    DATA = data

                    var html_source = ""
                    var $html_source
                    if(data.hasOwnProperty('html')){
                        html_source = data['html']
                        $html_source = $(html_source)

                    }


                    //var $data = $(data)

                    var default_handler = true


                    if (textStatus == 'success') {
                        //var $data = $(data)

                        console.log('data: ', data)

                        if ($submit_button.hasClass('login')) {

                            $popup.removeClass(modalOpenClass)
                            remove_with_delay($popup)
                            logged_in = true
                            $login_link.attr('href', '/en/my/dashboard')
                            var $header_menu_user_dropdown = $(['<div id="header-menu-user-dropdown">',
                                '<a href="', path('edit_user_registration'), '" class="header-menu-user-dropdown-link">dashboard</a>',
                                '<a href="', path('my_events'), '" class="header-menu-user-dropdown-link">events i am subscribed on</a>',
                                '<a href="', path('user_session_destroy_form'), '" class="popup-link header-menu-user-dropdown-link logout">log out</a>',
                                '</div>'].join(''))

                            $header_menu_user_dropdown.appendTo($header_menu_user_wrapper)

                            default_handler = false
                        }
                        else if ($submit_button.hasClass('logout')) {
                            $popup.removeClass(modalOpenClass)
                            remove_with_delay($popup)
                            logged_in = false
                            $header_menu_user_wrapper.find('#header-menu-user-dropdown').remove()

                            default_handler = false


                        }
                        else if($submit_button.hasClass(signUpSubmitButtonClass)){

                            if(errors.hasOwnProperty('email') && errors['email'] == 'Email already taken'){
                                $form.find('div.input.email').manipulateClasses(['error', 'taken'],['valid'])
                                default_handler = false
                            }
                            else{
                                default_handler = true
                                alert('ok')
                            }
                        }

                        if(default_handler){
                            //alert('ok2')
                            if(Object.keys(errors).length == 0) {
                                 console.log('errors: ', errors)
                                $popup.removeClass(modalOpenClass)
                                remove_with_delay($popup)
                                $html_source.addClass(modalOpenClass)
                                $modal_windows_wrapper.append($html_source)
                            }
                        }
                    }
                    else {

                        if ($submit_button.hasClass('login')) {
                            var $error_container = $(['<div class="error">', data, '</div>'].join(''))
                            $errors.html($error_container)
                        }

                        else if ($submit_button.hasClass(sendMePasswordSubmitButtonClass)) {
                            var $error_container = $(['<div class="error">', data, '</div>'].join(''))

                            $errors.html($error_container)
                        }


                    }
                }
            })
        }
        //
    }
    else if($this.hasClass(popupLinkClass)){
        var $popup_link = $this
        var url = $popup_link.attr('href')
        $.ajax({
            type: 'get',
            url: url,
            data: 'modal=true',
            dataType: 'html',
            success: function(data){
                var $modal = $(data)
                $modal.addClass(modalOpenClass)
                $popup.removeClass(modalOpenClass)
                remove_with_delay($popup)
                $modal_windows_wrapper.append($modal)
            }
        })
    }


})

if($html.hasClass('controller-home action-index')){
    $home_featured_event_info_slides_row_ul = $('#home-featured-event-info-slides-row-ul')
    $home_featured_event_info_slides_row_ul.on('click', 'a.register-button-a', function(event){
        event.preventDefault()
        var $link = $(this)
        var url = $link.attr('href')
        var $event = $link.closest('li.event')
        var event_id = $event.attr('data-event-id')
        $.ajax({
            type: 'GET',
            url: url,
            dataType: 'html',
            data: 'modal=true',
            success: function(data){
                var $modal = $(data)
                $modal.addClass(modalOpenClass)
                $modal_windows_wrapper.append($modal)
                registration_location = window.location.pathname
                registration_event_id = event_id
            }
        })
    })
}
