// ==================================
// ----------------------------------
// Table of contents
// ----------------------------------
// ==================================

// 1. about top banner
// 2. about quote
// 2. what unites us
// 3. about team
// 4. about slider



// ==================================
// ----------------------------------
// about top banner
// ----------------------------------
// ==================================

#about-banner-image-wrapper, #event-item-banner, #about-slides-ul .image-background,
#home-featured-events-section .event-info-slides .event-info-slides-row ul li.event .image-and-info.columns .image{
  &:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    right: 0;
    background: $orange-color;
    opacity: $orange-overlay-opacity;
  }
}

#about-banner-image-wrapper, #event-item-banner{
  width: 100%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#event-item-banner{

}



#about-banner-img{
  position: relative;
  left: 50%;
  @include transform( translateX(-50%) );
  max-height: 100%;
}

#about-banner-img {
  position: relative;
  left: 50%;
  @include transform( translate(-50%) );
  max-height: 100%;
  max-width: none;

  @media (max-width: 1000px) {
//    left: 0; // set the left back to 0
//    max-height: none; // remove the max-height
//    max-width: none;
//    height: 100%;
//    @include transform( translateY(-50%) );
//    top: 50%;
//    left: -50%;
  }
}

#about-banner-img{
  height: 500px;

  @media(min-width: 1920px){
    width: 100%;
  }
}



// ==================================
// ----------------------------------
// 2. quote
// ----------------------------------
// ==================================


#about-quote{
  background-color: #2facda;
  margin: 4.5rem 0 0 0;
}

#about-quote-text-wrapper {
  font-size: 1.2rem;
  font-weight: 300;
  color: #fccf52;
  margin: 7rem 0;
  position: relative;


  &:before, &:after {
    color: #2ebcd0;
    position: absolute;
    display: block;
    font-weight: 900;
  }

  &:before {
    content: "\AB";
    font-size: 12rem;
    top: 0;
    left: 0;
    line-height: 1rem;
  }

  &:after {
    content: "\BB";
    right: 0;
    bottom: 0;
    font-size: 6rem;
    line-height: 100%;
  }


}

#about-quote-text {
  position: relative;
  display: block;
  padding: 0 30px 3rem 75px;
  z-index: 1;
  color: white;
  font-style: italic;
  font-size: 1.3rem;
}






// ==================================
// ----------------------------------
// 3. what unites us
// ----------------------------------
// ==================================

#what-unites-us-header{
  margin-bottom: 0.5rem;
}

#main-features{
  color: $dark-gray-color;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}



// ==================================
// ----------------------------------
// 4. about team
// ----------------------------------
// ==================================

#about-team{
 padding: 0 0 2.5rem 0;
}

#about-participants{
 padding: 0 0 8rem 0;
}

#about-team-and-participants{
  background-color: #f2f2f2;
  margin-top: 4rem;
}

#about-team-title, #about-participants-title{
  margin: 3rem 0 0.5rem 0;
}


#about-team-avatars-ul{
  list-style: none;
  padding: 0;
  margin: 2.5rem 0 0 0;
}

.about-team-avatar-li{
  padding: 24px 15px;
}

.about-team-avatar-img-container{
  position: relative;

  &:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    right: 0;
    background: $orange-color;
    opacity: 0.1;
  }
}

.about-team-avatar-wrapper{
  position: relative;
  border-radius: 50%;
  overflow: hidden;

  // border-radius bug fix
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC)



  //@include transform-style( preserve-3d );
  //@include transition( all 1.0s linear );


}

.about-team-avatar-description{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
  @include transform( translate3d(0, -100%, 0) );
  background: white;

  border-radius: 50%;
  // border-radius bug fix
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);


  //@include transition( all 1s );
  @include transition-duration(1s);
  @include transition-property(transform);
//  -webkit-transition-property: -webkit-transform;
//  -ms-transition-property: -ms-transform;
//  -moz-transition-property: -moz-transform;
//  -o-transition-property: -o-transform;
//  transition-property: transform;



}

.about-team-avatar-description-text{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  @include transform( translate(-50%, -50%) );
  width: 100%;
}


.about-team-avatar-description-text-name{
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: #666;
  display: block;

}

.about-team-avatar-description-text-short-description{
  line-height: 1.2rem;
  display: block;
  margin: 16px 0;
  font-style: italic;
}

.about-team-avatar-wrapper{
  &:hover{
    .about-team-avatar-description{
      @include transform( translate3d(0, 0, 0) );
      border: 2px solid #ab6c0f;
    }
  }
}

.about-team-avatar-description-text-social-links{
  display: block;

  a{
    display: inline-block;

    svg{
      display: block;
      width: 32px;
      height: 32px;
      margin: 0 5px;
    }
  }
}


//.about-team-avatar-li{
//  &:hover{
//    .about-team-avatar-wrapper{
//
//      @include transform( rotateY(180deg) )
//    }
//  }
//}



//.image.about-team-avatar-img-container{
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  backface-visibility: hidden;
//}

//.about-team-avatar-description{
//  display: block;
//  transform: rotateY(180deg);
//  box-sizing: border-box;
//  padding: 10px;
//  color: white;
//  text-align: center;
//  background-color: #aaa;
//}



/////
// ====================================================
// =============================================
// =========================================
// demo
// =====================================================
// =====================================================



//#all {
//  width: 680px;
//  margin-left: auto;
//  margin-right: auto;
//}
//
//#page-flip {
//  background-image: url(http://cssdeck.com/uploads/media/items/6/6h4pDpK.jpg);
//  position: absolute;
//  padding: 40px 40px 40px 340px;
//  width: 300px;
//  height: 400px;
//  overflow: hidden;
//}
//
//#r1 {
//  position: absolute;
//  z-index: 2;
//  -webkit-transform-origin: 1315px 500px;
//  -webkit-transform: translate(-1030px, -500px) rotate(-32deg);
//  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
//  -webkit-transition-duration: 1s;
//}
//
//#p1 {
//  width: 1285px;
//  height: 1388px;
//  overflow: hidden;
//}
//
//#p1 > div {
//  -webkit-transform-origin: 285px 0;
//  -webkit-transform: translate(1030px, 500px) rotate(32deg);
//  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
//  -webkit-transition-duration: 1s;
//  width: 285px;
//  height: 388px;
//  background-image: url(http://cssdeck.com/uploads/media/items/8/87WOlJH.jpg);
//}
//
//#p1 > div > div {
//  width: 10px;
//  height: 388px;
//  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .25)), to(rgba(0,0,0,0)));
//}
//
//#p2 > div {
//  width: 285px;
//  height: 388px;
//  -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, .5);
//  position: absolute;
//  z-index: 1;
//  background-image: url(http://cssdeck.com/uploads/media/items/4/4FpEEbu.jpg);
//}
//
//#r3 {
//  -webkit-transform-origin: 1315px 500px;
//  -webkit-transform: translate(-1030px, -500px) rotate(-32deg);
//  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
//  -webkit-transition-duration: 1s;
//  position: absolute;
//  z-index: 2;
//}
//
//#s3 {
//  -webkit-transform-origin: 70px 500px;
//  -webkit-transform: translate(215px, -500px) rotate(-32deg) translate(40px, 0);
//  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
//  -webkit-transition-duration: 1s;
//  position: absolute;
//  z-index: 1;
//}
//
//#page-flip:hover #s3 {
//  -webkit-transform-origin: 325px 500px;
//  -webkit-transform: translate(-40px, -500px) rotate(0deg) translate(40px, 0);
//}
//
//#sp3 {
//  width: 25px;
//  height: 1000px;
//  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .25)), to(rgba(0,0,0,0)));
//  -webkit-transition-property: width;
//  -webkit-transition-duration: 1s;
//  overflow: hidden;
//}
//
//#page-flip:hover #sp3 { width: 11px }
//
//.s {
//  width: 285px;
//  height: 388px;
//  position: absolute;
//  overflow: hidden;
//  z-index: 3;
//}
//
//#s2 {
//  -webkit-transform-origin: 45px 500px;
//  -webkit-transform: translate(240px, -500px) rotate(-32deg);
//  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
//  -webkit-transition-duration: 1s;
//  position: absolute;
//}
//
//#sp2 {
//  width: 15px;
//  height: 1000px;
//  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .18)), to(rgba(0,0,0,0)));
//  overflow: hidden;
//}
//
//#s4 {
//  opacity: 1;
//  -webkit-transition-duration: 0.5s;
//}
//
//#page-flip:hover #s4 { opacity: 0 }
//
//#page-flip:hover #s2 {
//  -webkit-transform-origin: 300px 500px;
//  -webkit-transform: translate(-15px, -500px) rotate(0deg);
//}
//
//#p3 {
//  width: 1285px;
//  height: 1388px;
//  overflow: hidden;
//}
//
//#p3 > div {
//  -webkit-transform-origin: 0 0;
//  -webkit-transform: translate(1255px, 500px) rotate(-32deg);
//  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
//  -webkit-transition-duration: 1s;
//  -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, .5);
//  width: 285px;
//  height: 388px;
//  background-image: url(http://cssdeck.com/uploads/media/items/6/6S8oF28.jpg);
//  overflow: hidden;
//}
//
//#p3 > div > div {
//  width: 9px;
//  height: 500px;
//  float: right;
//  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0,0,0,.20)));
//}
//
//#page-flip:hover #r1 {
//  -webkit-transform-origin: 1570px 500px;
//  -webkit-transform: translate(-1285px, -500px) rotate(0deg);
//}
//
//#page-flip:hover #p1 > div {
//  -webkit-transform-origin: 285px 0;
//  -webkit-transform: translate(1285px, 500px) rotate(0deg);
//}
//
//#page-flip:hover #r3 {
//  -webkit-transform-origin: 1570px 500px;
//  -webkit-transform: translate(-1285px, -500px) rotate(0deg);
//}
//
//#page-flip:hover #p3 > div {
//  -webkit-transform-origin: 0 0;
//  -webkit-transform: translate(1000px, 500px) rotate(0deg);
//}
//
//
//
//#coke {
//  width: 253px;
//  height: 158px;
//}
//
//
//#page-flip:hover #coke {
//  -webkit-transition-delay: .8s;
//  margin: 33px 0 0 14px;
//}
//
//#meninas {
//  width: 253px;
//  height: 167px;
//}
//
//#page-flip:hover #meninas {
//  -webkit-transition-delay: .8s;
//  margin: 203px 0 0 14px;
//}



// =====================================================
// -----------------------------------------------------
// 4. about slider
// -----------------------------------------------------
// =====================================================

#about-slider {
  height: 600px;
  text-align: center;
  position: relative;
  .slides {
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    .slide {
      top: 0;
      left: 0;
      background: #e0d3c3;
      opacity: 0.5;
      @include transition-property(opacity);
      @include transition-duration(0.5s);
      z-index: 1;
      //opacity: 0
      height: 100%;
      position: absolute;
      width: 100%;
      &:first-child {
        //opacity: 1

      }
      .image-background {
        height: 100%;
        display: block;
        @include vendor-prefix(background-size, cover !important);
        img {
          opacity: 0;
        }
      }
      //@for $i from 1 through $main-slider-slides-count
      // &#slide-#{$i}
      //   z-index: $i

    }
  }
  .bullets {
    display: block;
    position: absolute;
    //bottom: 150px
    bottom: 15%;
    z-index: #{$main-slider-slides-count + 2};
    @include transform(translate3d(-50%, 0, 0));
    left: 50%;
    padding: 0;
    li {
      display: inline-block;
      margin-left: $bullet-indent;
      &:first-child {
        margin-left: 0;
      }
      label {
        display: block;
        background: $bullet-background;
        //background: $active-bullet-background
        width: $bullet-with;
        height: $bullet-height;
        border-radius: $bullet-border-radius;
        cursor: pointer;
      }
      &:hover {
        label {
          background-color: $hover-bullet-background;
        }
      }
    }
  }
  @for $i from 1 through 4 {
    .about-slider-slide-flag#about-slider-slide-flag-#{$i} {
      &:checked {
        & ~ .slides {
          .slide#slide-#{$i} {
            //z-index: #{$main-slider-slides-count + 1}
            z-index: 2;
            opacity: 1;
          }
        }
        & ~ .bullets {
          .about-slider-slide-label#about-slider-slide-label-#{$i} {
            label {
              background: $active-bullet-background;
              cursor: default;
            }
          }
        }
      }
    }
  }
}

//.home-slider-description.description {
//  top: 50%;
//  position: absolute;
//  left: 50%;
//  @include transform(translate3d(-50%, -50%, 0));
//  color: white;
//  font-size: 2rem;
//  font-weight: 800;
//  text-transform: uppercase;
//}
