#aricle-title{
//  color: #6d6e72;
//  text-transform: uppercase;
//  text-align: center;
//  font-weight: 800;
//  font-size: 3rem;
  text-align: left;
  line-height: 3rem;
  margin: 2.25rem 0 0 0;
}

#aricle-date{
  font-size: 1.3rem;
  font-weight: 300;
}

#aricle-content{
  h3{
    color: #6d6e72;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

.quote{
  color: orange;
  font-size: 1.2rem;
  margin: 3.5rem 5.5rem 3.5rem 5.5rem;
  padding: 34px 0 2rem 58px;
  position: relative;

  &:before, &:after{
    position: absolute;
    display: block;
    color: #2facda;
    opacity: 0.3;
    font-weight: 500;
  }
  &:before{
    content: "\00ab";
    font-size: 12rem;
    left: 0.5rem;
    top: 0;
    line-height: 2.5rem;
  }
  &:after{
    content: "\00bb";
    right: 0;
    left: auto;
    font-size: 6rem;
    line-height: 0;
  }
}