#article-title{
//  color: #6d6e72;
//  text-transform: uppercase;
//  text-align: center;
//  font-weight: 800;
//  font-size: 3rem;
  text-align: left;
  line-height: 3rem;
  margin: 2.25rem 0 0 0;
}

#article-date{
  font-size: 1.3rem;
  font-weight: 300;
}


#read-also-section{
  background-color: #f2f2f2;
  padding: 0 0 8rem 0;
  margin: 6rem 0 0 0;
}


#read-also-section-title, .text-content h3{
  color: #6d6e72;
  font-size: 1.4rem;
  font-weight: 500;
}

#read-also-section-title{
  text-align: center;
  margin: 3rem 0;
}

.read-also-articles-article{
  width: 50%;
  display: inline-block;
  padding: 2rem;
  height: 400px;
  border: 1px #f2f2f2 solid;
  vertical-align: top;
  background-color: white;

  @include transition-duration(0.5s);
  @include transition-property(all);

  &:hover{
    background-color: $large-object-hover-color;

    .read-also-articles-article-title-a{
      color: white;
    }

    .read-also-articles-article-date{
      color: white;
    }
  }

}

.read-also-articles-article-title-a{
  text-transform: uppercase;
  color: $font-blue-color;
  line-height: 1;
  font-weight: 800;
  font-size: 2.25rem;
}

.read-also-articles-article-date{
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1rem;
  color: $orange-color;
}

.text-content{
  .quote{
    color: orange;
    font-size: 1.2rem;
    margin: 3.5rem 5.5rem 3.5rem 5.5rem;
    padding: 34px 0 2rem 58px;
    position: relative;

    &:before, &:after{
      position: absolute;
      display: block;
      color: #2facda;
      opacity: 0.3;
      font-weight: 500;
    }
    &:before{
      content: "\00ab";
      font-size: 12rem;
      left: 0.5rem;
      top: 0;
      line-height: 2.5rem;
    }
    &:after{
      content: "\00bb";
      right: 0;
      left: auto;
      font-size: 6rem;
      line-height: 0;
    }
  }

  .image{
    text-align: center;

    p{
      max-width: 100%;
      margin: 0;
      padding: 0.5rem;
      font-size: 0.8rem;
      font-style: italic;
      background: #f2f2f2;
    }
  }

  ul{
    position: relative;
    list-style: none;
  }

  li{
    &:before{
      position: absolute;
      left: 1rem;
      color: orange;
      content: "\2014";
    }
  }
}


