// ==================================
// ----------------------------------
// event item top banner
// ----------------------------------
// ==================================

#event-item-banner-image-wrapper {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
//  &:after{
//    content: "";
//    position: absolute;
//    left: 0;
//    top: 0;
//    bottom: 0;
//    display: block;
//    right: 0;
//    background: $orange-color;
//    opacity: 0.1;
//  }

}

#event-item-banner-img{
  opacity: 0;
}



// ==================================
// ----------------------------------
// event item content
// ----------------------------------
// ==================================




#event-item-page-event-name{
  @include large-gray-header;
  text-align: left;
  line-height: 1;
}

#event-content-and-info-row{
  margin-top: 50px;
  margin-bottom: 50px;
}



#event-item-page-event-info-part-details{
  border-radius: 3px;
  background: #2facda;
  //min-height: 350px;
  @include box-shadow(1px 1px 5px rgba(0,0,0,0.5));
  padding: 20px 30px 30px 30px;
}






#event-item-page-event-info{




  color: white;

  svg{
    display: inline-block;
    width: 21px;
    height: 21px;

    path{
      fill: #2a7fa6;
    }
  }

  span{
    display: inline-block;
  }
}

#event-item-page-event-info{
  .register-button{
    .register-button-a, .register-button-span{
      height: 3.75rem;
      display: inline-block;
      background: #ffb700;
      width: 100%;
      text-align: center;
      border-radius: 3px;
      cursor: pointer;
      box-shadow: $button-box-shadow;

      svg{
        display: inline-block;
        position: relative;
        top: 0.625rem;
        width: 2.5rem;
        height: 2.5rem;

        .clock-arrow, .clock-round, .clock-fire{
          fill: #fff;
        }
      }

      .registration-text{
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 700;
        color: white;
      }
    }

    .register-button-span{
      line-height: 60px;
      cursor: default;
    }

    &.registration-disabled, &.event-expired{
      .register-button-span{
        background-color: $registration-disabled-button-background;

        .registration-text{
          color: $registration-disabled-button-text-color;
        }
      }
    }


  }
}

#event-item-images{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin: 45px 0 45px 0;

  .header{
    height: 4rem;
    line-height: 4rem;
    padding: 0 30px;
    overflow: hidden;
  }

  .title{
    font-weight: 500;
    font-size: 20px;
    color: #2781a4;
    display: inline-block;
    vertical-align: top;


  }
  .photos-count{
    display: inline-block;
    position: relative;
    float: right;


    svg{
      path{
        fill: #aaa !important;
      }
    }
  }
  .count{
    display: inline-block;
    font-size: 24px;
    color: #ccc;
  }

  .content{
    padding: 1px;

    a{
      display: inline-block;
      width: 50%;
      position: relative;

      &.lazy{
        display: none;
      }

      &:after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        display: block;
        right: 0;
        background: $orange-color;
        opacity: $orange-overlay-opacity;


      }

      &:hover{
        &:after {
          display: none;
        }
      }
    }


  }
  .footer{
    height: 50px;
    line-height: 50px;
    text-align: right;
    padding: 0 30px;
  }


  .content{
    @media #{$small-only} {
      @include grid-row();
      a{
        @include grid-column(4, $collapse: true);
      }
    }

    @media #{$medium-only} {
      @include grid-row();
      a{
        @include grid-column(3, $collapse: true);
      }
    }
  }

}


#event-item-page-event-info-title{
  //font-size: 1.4rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.event-item-page-event-info-text{
  font-weight: 300;
  //font-size: 0.8rem;
  font-size: 0.875rem;
  padding-left: 40px;
  min-height: 21px;

  line-height: 1.4;

}

.event-item-page-event-info-list-item{
  position: relative;
  margin: 12px 0;
  svg{
    position: absolute;
    top: 50%;
    @include transform( translateY(-50%) );
    display: block;
  }
}

@media #{$large-up} {
  #event-item-page-event-info-column{
    padding: 0;
  }
}