.home-slider-description.description
	+banner-title

	.slide-title
		text-shadow: 1px 1px 0px rgba(0,0,0,0.3)

@media #{$small-only}
	.home-slider-description.description
		font-size: 1.3rem
		line-height: 1.5rem