$sections-count: 6

html.controller-home.action-index
  body
    overflow: hidden
  #wrap
    position: relative
    height: #{100% * $sections-count}

  .page-section
    position: absolute
    height: #{100% / $sections-count}
    width: 100%




    @for $i from 2 through $sections-count
      &.page-section-number-#{$i}
        top: #{100% / ($sections-count) * ($i - 1)}








  .home-slider-section
    .slides
      top: 0
      position: absolute
      left: 0
      width: 100%
      height: 100%
      overflow: hidden
      margin: 0
      padding: 0
      .slide

        opacity: 0

        height: 100%
        position: absolute
        width: 100%

        &:first-child
          opacity: 1
        .image-background
          height: 100%
          display: block
          background-size: cover
          img
            opacity: 0


  .home-events-section
    background: lightblue


  .home-about-section


  .home-expired-events-section

  .home-contact-section

  .home-comments-section