= pager
	bottom: 20%
	a
		background-color: #fff
		&.active
			background-color: $orange-color

#home-slider-section
	.bx-wrapper
		border: none
		margin: 0


	.bx-pager
		+pager


	.image-background
		background: center center no-repeat
		

	.bx-viewport, .bx-wrapper
		position: relative
		width: 100%
		height: 100% !important
		top: 0
		left: 0
	
	.bxslider, .bxslider li
		height: 100% !important
	
	.bxslider li
		background-repeat: no-repeat
		background-position: top center
		background-size: cover
	
	.bx-wrapper .bx-viewport
		border: none !important
	

#home-slides-ul
	padding: 0
	margin: 0 auto

	height: 100%

	li
		height: 100%

		.image-background
			height: 100%

		img
			opacity: 0


// arrow

@include keyframes(animate-main-banner-arrow)
	0%
		bottom: 30px
	100%
		bottom: 0

#home-slider-scroll-down-arrow
	width: 35px
	height: 72px
	position: absolute
	//bottom: 200px // 30px
	bottom: 10%
	left: 50%
	z-index: 5
	@include transform( translate3d(-50%,0,0) )
	cursor: pointer
	svg
		width: 35px
		height: 42px
		position: absolute
		bottom: 30px
		@include transform( translate3d(-50%,0,0) )
		left: 50%
		z-index: 3
		fill: $orange-color
		@include animation-iteration-count(infinite)
		@include animation-duration(1s)
		@include animation-name(animate-main-banner-arrow)

	&:hover
		svg
			@include animation-play-state(paused)


