// =============================================
// ---------------------------------------------
// articles list banner
// articles list item
// ---------------------------------------------
// =============================================

$articles-list-item-button-color: $orange-color;

$articles-list-item-hover-transition-duration: 0.5s;



#articles-list-banner{
  position: relative;
}

#articles-list-banner-image-wrapper {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  &:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    right: 0;
    background: $orange-color;
    opacity: 0.1;
  }

}



#articles-list-banner-img{
  position: relative;
  left: 50%;
  @include transform( translateX(-50%) );
  max-height: 100%;
}

#articles-list-banner-img {
  position: relative;
  left: 50%;
  @include transform( translate(-50%) );
  max-height: 100%;
  max-width: none;

  @media (max-width: 1000px) {
    //    left: 0; // set the left back to 0
    //    max-height: none; // remove the max-height
    //    max-width: none;
    //    height: 100%;
    //    @include transform( translateY(-50%) );
    //    top: 50%;
    //    left: -50%;
  }
}

#articles-list-banner-img{
  height: 500px;

  @media(min-width: 1920px){
    width: 100%;
  }
}



// =================================================
// -------------------------------------------------
// articles list item
// -------------------------------------------------
// =================================================

.articles-list-article{
  background: transparent;
  //height: 320px;
  //height: auto;
  //height: 350px;
  height: auto;
  width: 100%;
  list-style: none;
  //display: inline-block;
  display: block;

  //padding: 2rem 0 0 0;
  padding: 0;
  //overflow: hidden;
  overflow: hidden;
  //border-top: 1px #f2f2f2 solid;
  @include transition-property(transform, background-color);
  @include transition-duration($articles-list-item-hover-transition-duration);


  .article-title-a{
    text-transform: uppercase;
    color: $font-blue-color;
    line-height: 1;
    font-weight: 800;
    font-size: 2.25rem;
  }




}

.article-list-article-description{
  position: absolute;
  left: 33.33333%;
}

.article-read-button{
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  color: #ff594a;
  height: 3.75rem;
  //display: none;
  display: inline-block;
  background: white;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  max-width: 300px;
  line-height: 3.75rem;
  position: relative;
  margin: 2.5rem auto 0 auto;
  box-shadow: $button-box-shadow;

  a{
    color: $articles-list-item-button-color;

  }
}

.article-list-article-date{
  font-size: 1.2rem;
  font-weight: $basic-font-weight;
  margin-top: 1rem;
  color: $dark-orange-text-color;

}

.articles-list-article-description-title{
  max-height: 11.8rem;
  overflow: hidden;
  padding-top: 2rem;
}

.articles-list-article-description-side-1, .articles-list-article-description-side-2{
  @include transition-duration($articles-list-item-hover-transition-duration);
  @include transition-property(transform);

  position: absolute;
  height: 100%;
}

.articles-list-article-description-side-1{
  @include transform(translateY(0));


}

.articles-list-article-description-side-2{
  @include transform(translateY(100%));
  top: 0;
  width: 100%;
}

.articles-list-article-row{
  position: relative;
}

.articles-list-article-description.columns{
  height: 100%;
  position: absolute;
  left: 33.33333%;
}

.article-short-description{
  margin-top: 2rem;
  color: white;
  font-weight: $basic-font-weight;
  max-height: 6rem;
  overflow: hidden;
}

.article-avatar-a{
  &.has-overlay {
    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($light-red-background-color, 1);
      opacity: $orange-overlay-opacity;

    }
  }
}

.article-read-button-for-mobile{
  display: none;
}

#html{
  &.touch{
    .article-read-button-for-mobile{
      display: block;
    }

    @media #{$medium-only} {
      .article-read-button-a {
        margin: 1rem 0 0 0;
      }

      .article-title-a{
        max-height: 3.5rem;
        display: block;
      }
    }
  }
}

@media #{$medium-up} {
  .articles-list-article {
    &.hover-delay-end {
      background-color: $large-object-hover-color;

      .articles-list-article-description-side-1 {
        @include transform(translateY(-100%));
      }
      .articles-list-article-description-side-2 {
        @include transform(translateY(0));
      }
    }
  }
}

@media #{$medium-only} {
  .articles-list-article{
    .article-title-a{
      font-size: 1.75rem;
    }
  }
}

@include small{
  .articles-list-article-description.columns{
    position: relative;
    @include grid-column(12, $push: 0);
  }

  .articles-list-article-description-side-1{
    position: relative;
  }

  .articles-list-article-description-side-2{
    display: none !important;
  }

  .articles-list-article{
    margin: 4.5rem 0 0 0;
  }

  .article-avatar-a{
    img{
      width: 100%;
    }
  }
}




