.feedback-item
	.article-short-description
		color: $gray-color
	.article-title-a
		font-size: 0.8rem
	.article-list-article-date
		font-size: 0.8rem
		margin: 0

.please-login-to-leave-feedback
	text-align: center


@media #{$medium-up}
.feedback-item
	&.hover-delay-end 
		background-color: $large-object-hover-color


		.article-short-description
			color: white
		.article-list-article-date
			color: white
		
	


