var initialize = function() {


    $('html.controller-home.action-index').each(function () {
        var $page = $(this)

        counter = 0
        last_time_stamp = null




        var $contact_form = $('#home-contact-form-section-form')
        var $phone_field = $contact_form.find('#message_phone')
        $phone_field.mask("+99 (999) 999 99 99")

        var $home_contact_show_form_button = $('.home-contact-show-form-button')
        $home_contact_show_form_button.on('click', function () {
            $('div.contact-form').toggleClass('open')
            $('#home-contact-info').toggleClass('opened-form')
            $(this).toggleClass('opened-form')
        })

        var $home_contact_form_cancel_changes_button = $('.js-trigger.cancel-changes')
        $home_contact_form_cancel_changes_button.on('click', function(){
            $('div.contact-form').toggleClass('open')
            $('#home-contact-info').toggleClass('opened-form')
            $home_contact_show_form_button.toggleClass('opened-form')
        })
    })

    var $home_contact_section = $('#home-contact-section')
    if($home_contact_section.length > 0){
        var $form = $('#home-contact-form-section-form')
        var default_method = 'GET'
        var method = $form.attr('method') || default_method




    }
}

$contact_form = $('#home-contact-form-section-form')

$contact_form.on('click', 'input[type=submit]', function(e){
    var $form = $contact_form

    var default_method = 'GET'
    var method = $form.attr('method') || default_method
    var url = $form.attr('action') || ''
    var response_data_type = 'json'

    e.preventDefault()
    var form_send_status = $form.data('send')
    if(!form_send_status) {
        var $submit = $(this)

        var form_data = $form.serializeArray()
        FORM_DATA = form_data
        errors = []
        var $fields = $form.find('.field:not(.field-submit)')

        for (var i = 0; i < $fields.length; i++) {
            var $field = $fields.eq(i)
            var $field_input = $field.find('input, select, textarea')
            //var field_data = form_data[i]
            var field_value = $field_input.val()
            var field_name = $field_input.attr('name')
            if (field_value == '') {
                errors.push({
                    field_name: field_name,
                    error_message: $field.attr('data-error-empty'),
                    type: 'empty'
                })
            }
            else if (!validateValue(field_value, $field.attr('data-validate'))) {
                errors.push({
                    field_name: field_name,
                    error_message: $field.attr('data-error-invalid'),
                    type: 'invalid'
                })
            }

        }

        if (errors.length == 0) {
            $form.data('send', 'in_process')
            $.ajax({
                type: method,
                url: url,
                data: form_data,
                dataType: response_data_type,
                success: function (data) {
                    //alert('success')
                    $form.data('send', true)
                    alert($form.attr('data-success-message'))
                }
            })
        }
        else {
            var error_messages = []
            for (var i = 0; i < errors.length; i++) {
                error_messages.push(errors[i]['error_message'])
            }
            alert(error_messages.join("\n"))
        }
    }
    else{
        if(form_send_status == 'in_process'){
            alert($form.attr('data-sending-message'))
        }
        else {
            alert($form.attr('data-already-sent-message'))
        }
    }
})




$(document).on('page:load', initialize)

initialize();




window.partials = {
    home: {
        featured_events_carousel_item: ['<li class="event home-featured-event event-collection-item" data-event-id="{{event_id}}" id="event-4"><div class="featured-section-event-content"><div class="image-and-info columns large-4"><div class="image"><a href="{{event_url}}"><img src="{{event_image_url}}"></a></div><div class="info"><div class="start-date"><span class="tip">Початок:</span><span class="value">{{start_date_day}}.{{start_date_month}}.{{start_date_year}}</span></div><div class="end-date"><span class="tip">Завершення:</span><span class="value">{{end_date_day}}.{{end_date_month}}.{{end_date_year}}</span></div><div class="participants-count">{{participant_svg}}',
'<span class="count">{{participants_count}}</span><span class="participants-tip">&nbsp;учасників зареєстровано</span></div></div></div><div class="description columns large-8"><a class="event-title" href="{{event_url}}">{{event_name}}</a><div class="event-description">{{event_short_description}}</div></div><div class="event-link-and-register-button"><div class="event-link-wrapper large-4 columns large-push-4"><div class="event-link"><a href="{{event_url}}">Детальніше про подію</a></div></div><div class="register-button columns large-4 right"><a class="register-button-a" href="{{register_button_url}}">{{register_button_svg}}',
'<span class="registration-text">{{register_button_text}}</span></a></div></div></div></li>'].join(''),
        featured_events_carousel_point: ['<div class="event" ><label class="event-label" id="event-1-label"><div class="date" ><div class="day-number" id="event-1-date-day-number">{{event_day}}</div><div class="month" id="event-1-date-month-name">{{event_month_name}}</div></div><div class="bullet" id="event-1-bullet"><span class="render-bullet" id="event-1-render-bullet"></span></div></label></div>'].join('')
    }
};

window.month_names = ['січня', 'лютого', 'березня', 'квітня', 'травня', 'червня', 'липня', 'серпня', 'вересня', 'жовтня', 'листопада', 'грудня']


 if($html.hasClass('controller-home action-index')) {


     var $expired_events_carousel = $('#home-expired-events-collection')
     $expired_events_carousel.owlCarousel({
         items: 5
     })

     var $thumbnails_carousel = $('#home-featured-timeline')
     var $slides_carousel = $('#home-featured-event-info-slides-row-ul')

     var $thumbnails = $thumbnails_carousel.find('div.event')


     var $event_info_slides_container = $('#event-info-slides')
     var $home_featured_event_info_slides_row_ul = $('#home-featured-event-info-slides-row-ul')


     $thumbnails_carousel.owlCarousel({
         items: 7,
         itemsCustom: false,
         itemsDesktop: [1199, 6],
         itemsDesktopSmall: [980, 6],
         itemsTablet: [768, 4],
         itemsTabletSmall: false,
         itemsMobile: [479, 1],
         singleItem: false,
         itemsScaleUp: false
     })


     var step = 3

     var thumbnails_carousel_data = $thumbnails_carousel.data('owlCarousel')
     var total_prev_items = +$thumbnails_carousel.attr('data-total-prev')
     var total_future_items = +$thumbnails_carousel.attr('data-total-future')

     var total_prev_items_loaded_or_in_process = $thumbnails_carousel.find('div.prev').length
     var total_future_items_loaded_or_in_process = $thumbnails_carousel.find('div.event.future').length

     thumbnails_carousel_data.jumpTo($thumbnails_carousel.find('div.event.active').parent().index() - ( (thumbnails_carousel_data.options.items - 1) / 2 ))


     $('div.owl-nav-arrows').on('click', 'div.owl-nav-arrow', function () {
         var $this = $(this)
         var $arrow = $(this)

         var current_item = thumbnails_carousel_data.currentItem

         var new_item


         if ($arrow.hasClass('prev')) {
             new_item = current_item - step
         }
         else {
             new_item = current_item + step
         }

         //new_item = validateNewItemIndex(new_item)

         var maxIndex = thumbnails_carousel_data.itemsAmount
         var minIndex = 0

         if (new_item > maxIndex) {
             new_item = maxIndex
         }
         else if (new_item < minIndex) {
             new_item = minIndex
         }

         if (current_item != new_item) {
             thumbnails_carousel_data.goTo(new_item)
         }
     })



     var loadedSlides = []
     var slidesInLoad = []

     $event_info_slides_container.on('click', 'span.nav-arrow', function () {
         var $arrow = $(this)
         var prev_arrow = $arrow.hasClass('prev')
         var next_arrow = !prev_arrow

         var $active_thumbnail = $thumbnails.filter('.active')
         var $active_thumbnail_wrapper = $active_thumbnail.parent()
         var active_item_index = $active_thumbnail_wrapper.index()

         var $slides = $home_featured_event_info_slides_row_ul.children()
         var $active_slide = $slides.filter('.active')


         var new_item_index
         if (prev_arrow) {
             new_item_index = active_item_index - 1
         }
         else {
             new_item_index = active_item_index + 1
         }


         if (new_item_index <= thumbnails_carousel_data.itemsAmount - 1 && new_item_index >= 0) {


             var is_visible_item = thumbnails_carousel_data.visibleItems.indexOf(new_item_index) >= 0
             if (!is_visible_item) {
                 thumbnails_carousel_data.goTo(new_item_index)
             }

             var $new_item = thumbnails_carousel_data.$owlItems.eq(new_item_index)
             var $new_item_thumbnail = $new_item.children()
             var new_event_id = +$new_item_thumbnail.attr('data-event-id')
             var loaded = $new_item_thumbnail.hasClass('loaded')
             ///////

             $active_slide.removeClass('active').addClass('inactive')


             $new_item_thumbnail.removeClass('inactive').addClass('active')
             $active_thumbnail.removeClass('active').addClass('inactive')

             if (!loaded) {
                 loadEvent(new_event_id, $new_item_thumbnail)
             }
             else {

                 var $new_slide = $slides.filter('[data-event-id=' + new_event_id + ']')

                 $new_slide.removeClass('inactive').addClass('active')

             }
         }

     })


     function loadEvent(event_id, $thumbnail) {
         console.log('load_event: ', event_id)
         if (slidesInLoad.indexOf(event_id) < 0) {
             slidesInLoad.push(event_id)
             var ajax_url =  '/home/event_info'
             var ajax_data = {}
             if (Array.isArray(event_id) && event_id.length > 1){
               ajax_data = {event_ids: [event_id].join(',')}
             }
             else{
               ajax_url += "/" + event_id + ".html"
             }

             $.ajax({
                 url: ajax_url,
                 data: ajax_data,
                 type: 'get',
                 dataType: 'html',
                 success: function (data) {
                     var $html_source = $(data)
                     $thumbnail.addClass('loaded')

                     $home_featured_event_info_slides_row_ul.append($html_source)

                     if (logged_in) {
                       changeRegistrationButtonForEvents({
                         registered: true,
                         button_text: unregister_button_text,
                         events: global_event_ids_i_am_subscribed_on
                       })
                     }
                 }
             })
         }
     }

     $thumbnails_carousel.on('click', 'div.owl-item', function () {
         var $item = $(this)

         var $thumbnail = $item.children()
         var active = $thumbnail.hasClass('active')
         if(!active) {
             var loaded = $thumbnail.hasClass('loaded')
             var $active_thumbnail = $thumbnails.filter('.active')
             $thumbnail.removeClass('inactive').addClass('active')
             $active_thumbnail.removeClass('active').addClass('inactive')
             var $slides = $home_featured_event_info_slides_row_ul.children()
             var $active_slide = $slides.filter('.active')
             $active_slide.removeClass('active').addClass('inactive')
             var event_id = +$thumbnail.attr('data-event-id')
             if (!loaded) {
                 loadEvent(event_id, $thumbnail)
             }
             else {
                 var $new_slide = $slides.filter('[data-event-id=' + event_id + ']')
                 $new_slide.removeClass('inactive').addClass('active')

             }
         }
     })


     $("#home-slider-scroll-down-arrow").on("click", function(){
         $.fn.fullpage.moveTo(2)
     })

 }



