$('div.async-loader').on('content_loaded', function(){
    var $container = $(this)
    var input_id = $container.attr('data-input-id')
    var input_name = 'focus'
    var input_class = 'flag modal-flag'

    var $input = $('<input id="'+input_id+'" name="'+input_name+'" type="radio" class="'+input_class+'" />')
    $input.insertBefore($body_inner)
})


var $new_user_registration_popup_wrapper = $('#new_user_registration-popup-wrapper')
var $new_user_registration_popup = $new_user_registration_popup_wrapper.find('.popup')

$popups_wrapper = $('#modal-windows-wrapper')
console.log('popups_wrapper: '+$popups_wrapper.length)
$popups_wrapper.on('click', 'a.link-to-input', function(e){
    e.preventDefault()
})





var $modal_windows_wrapper = $('#modal-windows-wrapper')




show_modal = function(){
    var html_source = ""

    <%# self.pathname %>

    <% ApplicationController.view_paths = "app/views" %>

    


    
    //$modal_windows_wrapper.append(html_source)
};

$header_user_menu = $('#header-menu-user-menu')
if($header_user_menu.length > 0){
    $header_user_menu.on('click', 'a.logout', function(event) {
        var $logout_link = $(this)
    })
}


function showPopup(){
    var $modal = $(this)
    $modal.addClass(modalOpenClass)
    if (!$modal.closest("#modal-windows-wrapper").length) {
      if(!$modal_windows_wrapper.length){
        $modal_windows_wrapper = $("<div id='modal-windows-wrapper'></div>").appendTo("body")
      }
      $modal_windows_wrapper.append($modal)
    }
    $body.addClass(has_modal_open_class)
    setPopupSize.call($modal)
}

function setPopupSize(){
    var $popup = $(this)
    if($popup.length){
        var $popup_box_content = $popup.find(".popup-box-content")
        var less = $popup_box_content.height() < window.innerHeight
        console.log("resize popup", less)
        if(!less){
            $popup.removeClass("less-than-screen")
        }
        else{
            $popup.addClass("less-than-screen")
        }
    }
}

$(window).on("resize", function(){

    var $popup = $(".popup.modal-open")
    setPopupSize.call($popup)
})