$(document).on('ready', function() {
    /**
     * Called on the intiial page load.
     */
    var map;
    var HOME_MAPTYPE_ID = 'home_style';
    var marker;


    function init() {

        var homeStyleProperties = [
            {
                featureType: 'all',
                stylers: [
                    { "saturation": -11 },
                    { "lightness": -4 },
                    { "gamma": 1.8 },
                    { "hue": '#0088ff' }
                ]
            }
        ];

        var styledMapOptions = {
            //name: 'Custom Style'
            name: 'home style'
        };

        var customMapType = new google.maps.StyledMapType(homeStyleProperties, styledMapOptions);

        var $map_wrapper = $('.map-wrapper')
        var data_markers_str = $map_wrapper.attr('data-markers')

        if (data_markers_str) {
            var markers = []
            var data_markers = $.parseJSON(data_markers_str)
            var first_marker = data_markers[0]


            var mapCenter = new google.maps.LatLng(first_marker.lat,first_marker.lng );
            map = new google.maps.Map($('.map-container').get(0), {
                scrollwheel: false,
                zoom: 15,
                center: mapCenter,
                //mapTypeId: google.maps.MapTypeId.ROADMAP
                mapTypeId: HOME_MAPTYPE_ID
            });

            map.mapTypes.set(HOME_MAPTYPE_ID, customMapType);


            for(var i=0; i<data_markers.length;i++) {

                var m = data_markers[i]

                //var $div = jQuery('<div class="home-marker"><div class="marker-tooltip"></div><a href="'+ m.apartment_url +'"><%= ApplicationHelper.self_js_embedded_svg('marker.svg') %></a></div>');
                var $div = jQuery('<div class="home-marker"><div class="marker-tooltip"></div><a href="#"><img src="<%= asset_path('marker.png')  %>" style="width: 52px; height: 78px;" /></a></div>');
                var $marker_tooltip = $div.find('.marker-tooltip')
                //$marker_tooltip.append('<a href="#"><div class="address-and-category"><div class="address">'+ m.address+'</div></div></a>')

                $div.find('a').on('click', function (event) {
                    //event.preventDefault()
                    //alert('hello')
                })

                var div = $div.get(0)

                marker = new RichMarker({
                    map: map,
                    position: new google.maps.LatLng(m.lat, m.lng),
                    draggable: false,
                    flat: true,
                    anchor: RichMarkerPosition.MIDDLE,
                    content: div
                });

                google.maps.event.addListener(marker, 'position_changed', function () {
                    log('Marker position: ' + marker.getPosition());
                });

            }
        }
    }

    function reinit(){
        var $home_map_container = $("#home-map-container")
        $home_map_container.attr("style", "")
        $home_map_container.children().remove()
        init()
    }





    // Register an event listener to fire when the page finishes loading.
    //google.maps.event.addDomListener(window, 'load', init);
    init()

    $("#home-contact-show-map-button button").on("click", function(){
        var $button = $(this)
        var $home_contact_section = $("#home-contact-section")
        var show_map_class = "show-map"
        var visible_map = $home_contact_section.hasClass(show_map_class)
        var $map_wrapper = $home_contact_section.find(".map-wrapper")

        if(!visible_map){
            $home_contact_section.addClass(show_map_class)
            $button.text("Сховати карту")
            $map_wrapper.show()
            reinit()
        }
        else{
            $home_contact_section.removeClass(show_map_class)
            $button.text("Показати на карті")
            $map_wrapper.css("display", '')
        }





    })
});