<div class="row" id="about-intro-row">
    <h1 class="about-gray-header columns large-12" style="text-align: center">Про нас</h1>

    <div class="columns large-6" id="about-intro-column-1">


        <h2 class="css-h2 about-orange-header">Ми пропонуємо</h2>

        <ul>
            <li>навчання професії тест інженера досвідченими спеціалістами ІТ</li>
            <li>перекваліфікацію та сприяння працевлаштуванню</li>
            <li>підвищення професійного рівня та сприяння у кар'єрному рості</li>
            <li>професійні консультації</li>
        </ul>
    </div>

    <div class="columns large-6" id="about-intro-column-2">
        <h2 class="css-h2 about-orange-header">Хто веде заняття</h2>

        <ul>
            <li>Маріанна Нечипор &mdash;&nbsp; 10+ років в ІТ, від тест менеджера до директора з стандартизації</li>
            <li>Іван Нагірний &mdash; 10+ років в ІТ, від тест інженера до директора з якості</li>
            <li>Надія Струс &mdash; 9+ років в ІТ, від тест інженера до менеджера з якості</li>
            <li>Ольга Пашко &mdash; 15+ років у консультуванні проектних менеджерів, тренер з розвитку м&rdquo;яких навичок у проектному менеджменті</li>
            <li>Ірина Матвіїв &mdash; 5+ років у рекрутингу, сприяння працевлаштуванню</li>
            <li>Олег Рослицький &mdash; 10+ років викладання англійської мови в IT, носій мови</li>
            <li>Віктор Харковець &mdash; досвід роботи в ІТ 8+, програміст&nbsp;</li>
            <li>Катерина Мора Сорія &mdash; досвід роботи в ІТ 3+, проектний менеджер</li>
            <li>Роман Романік &mdash; досвід роботи в ІТ 2+, інженер автоматизованого тестування&nbsp;</li>
        </ul>
    </div>

    <div class="clearfix">&nbsp;</div>
</div>
