<div class="css-h2 about-orange-header" style="color: rgb(170, 170, 170); text-align: center;"><big><span style="color:#FF8C00;"><span style="font-size:22px;">ПРО НАС</span></span></big></div>

<p><big>&nbsp;<span style="color:#FF8C00;"><span style="font-size:20px;">Ми пропонуємо</span></span></big></p>

<ul>
    <li class="css-h2 about-orange-header" style="color: rgb(170, 170, 170);">
        <div><big><span style="color: rgb(0, 0, 0);"><span style="font-family: tahoma, geneva, sans-serif;"><span style="font-size: 14px;">навчання професії тест інженера досвідченими спеціалістами ІТ</span></span></span></big></div>
    </li>
    <li style="color: rgb(170, 170, 170);">
        <div><big><span style="color: rgb(0, 0, 0);"><span style="font-family: tahoma, geneva, sans-serif;"><span style="font-size: 14px;">перекваліфікацію та сприяння працевлаштуванню</span></span></span></big></div>
    </li>
    <li>
        <div style="color: rgb(170, 170, 170);"><big><span style="color: rgb(0, 0, 0);"><span style="font-family: tahoma, geneva, sans-serif;"><span style="font-size: 14px;">підвищення професійного рівня та сприяння у кар&quot;єрному рості</span></span></span></big></div>
    </li>
    <li>
        <div style="color: rgb(170, 170, 170);"><big><span style="color: rgb(0, 0, 0);"><span style="font-family: tahoma, geneva, sans-serif;"><span style="font-size: 14px;">професійні консультації</span></span></span></big></div>
    </li>
</ul>

<div class="css-h2 about-orange-header" style="color: rgb(170, 170, 170);"><big><span style="color:#FF8C00;"><span style="font-size:20px;">Хто веде заняття</span></span></big></div>

<ul>
    <li>
        <div style="color: rgb(170, 170, 170);"><big><span style="color:#000000;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">Маріанна Нечипор -&nbsp; 10+ років в ІТ, від тест менеджера до директора з стандартизації</span></span></span></big></div>
    </li>
    <li>
        <div style="color: rgb(170, 170, 170);"><big><span style="color:#000000;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">Іван Нагірний - 10+ років в ІТ, від тест інженера до директора з якості</span></span></span></big></div>
    </li>
    <li>
        <div style="color: rgb(170, 170, 170);"><big><span style="color:#000000;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">Надія Струс - 9+ років в ІТ, від тест інженера до менеджера з якості</span></span></span></big></div>
    </li>
    <li>
        <div style="color: rgb(170, 170, 170);"><big><span style="color:#000000;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">Ольга Пашко - 15+ років у консультуванні проектних менеджерів, тренер з розвитку м&rdquo;яких навичок у проектному менеджменті</span></span></span></big></div>
    </li>
    <li>
        <div style="color: rgb(170, 170, 170);"><big><span style="color:#000000;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">Ірина Матвіїв - 5+ років у рекрутингу, сприяння працевлаштуванню</span></span></span></big></div>
    </li>
    <li>
        <div style="color: rgb(170, 170, 170);"><big><span style="color:#000000;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">Олег Рослицький - 10+ років викладання англійської мови в IT, носій мови</span></span></span></big></div>
    </li>
    <li>
        <div style="color: rgb(170, 170, 170);"><big><span style="color:#000000;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">​Віктор Харковець - досвід роботи в ІТ 8+, програміст&nbsp;</span></span></span></big></div>
    </li>
    <li>
        <div style="color: rgb(170, 170, 170);"><big><span style="color:#000000;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">Катерина Мора Сорія - досвід роботи в ІТ 3+, проектний менеджер</span></span></span></big></div>
    </li>
    <li>
        <div style="color: rgb(170, 170, 170);"><big><span style="color:#000000;"><span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">Роман Романік - досвід роботи в ІТ 2+, інженер автоматизованого тестування&nbsp;</span></span></span></big></div>
    </li>
</ul>

<div class="css-h2 about-orange-header" style="color: rgb(170, 170, 170);">&nbsp;</div>

<p><big>&nbsp;</big></p>
