a
  color: #ffb700
  text-decoration: none
  @include transition-property(color)
  @include transition-duration($hover-transition-duration)


  &:hover
    color: $hover-color

.home-featured-events-section .event .event-title
  font-weight: 900
  text-transform: uppercase
  font-size: 2.5rem
  line-height: 1.1

.tip
  font-weight: 100

.orange-bg
  background-color: #ffb700

@mixin large-gray-header
  color: #6d6e72
  text-transform: uppercase
  text-align: center
  font-weight: 800
  font-size: 3rem


.overflow-hidden
  overflow: hidden

.position-relative
  position: relative



.pr
  position: relative



.page-content-z-index
  z-index: 1
  position: relative
  background: #ffffff

.page-block-fixed-wrapper
  position: relative
  height: 500px

.page-block-fixed
  position: fixed
  height: inherit
  width: 100%

.fixed-on-scroll
  position: relative
  height: inherit
  width: 100%
  &.fixed
    position: fixed

.page-block-fixed-relative
  position: relative
  height: inherit
  width: 100%



html[class*=controller-users]
  #header-menu-button-label
    border-top-color: $menu-blue-color
    &:before, &:after
      background-color: $menu-blue-color