a
	color: #ffb700
	text-decoration: none
	@include transition-property(color)
	@include transition-duration($hover-transition-duration)


	&:hover
		color: $hover-color

.home-featured-events-section .event .event-title
	font-weight: 900
	text-transform: uppercase
	font-size: 2.5rem
	line-height: 1.1

.tip
	font-weight: 100

.orange-bg
	background-color: #ffb700

@mixin large-gray-header
	color: #6d6e72
	text-transform: uppercase
	text-align: center
	font-weight: 800
	font-size: 3rem

= banner-title
	top: 50%
	position: absolute
	left: 50%
	@include transform(translate3d(-50%,-50%,0))
	color: white
	font-size: 2.25rem
	font-weight: 800
	text-transform: uppercase
	line-height: 2.25rem
	width: 90%
	max-width: rem-calc(1024)
	text-align: center

.overflow-hidden
	overflow: hidden

.position-relative
	position: relative


.pr
	position: relative



.page-content-z-index
	z-index: 1
	position: relative
	background: #ffffff
	padding: 0 0 8rem 0

.page-block-fixed-wrapper
	position: relative
	height: 500px

	img
		height: inherit







.page-block-fixed
	position: fixed
	height: inherit
	width: 100%

.fixed-on-scroll
	position: relative
	height: inherit
	width: 100%
	top: 0
	&.fixed
		position: fixed

.page-block-fixed-relative
	position: relative
	height: inherit
	width: 100%



html[class*=controller-users]
	#header-menu-button-label
		border-top-color: $menu-blue-color
		&:before, &:after
			background-color: $menu-blue-color



+small
	.page-block-fixed-wrapper
		height: 200px
		.page-block-fixed
			position: relative !important
	.fixed-on-scroll
		position: relative !important


.btn
	+button-element
	span
		+button-text
	svg
		+button-svg
		*
			fill: white

	&.btn-gray
		background: #D2D3D5
		span
			color: rgba(#6d6e72, 0.8)

		svg
			*
				fill: #6d6e72