#fixed-call-button
	position: fixed
	width: 40px
	height: 40px
	background: $light-orange-color
	bottom: 40px
	right: 40px
	z-index: 1000
	cursor: pointer

	svg
		width: 30px
		height: 30px

		*
			fill: white


#callbacks-form-content
	width: 400px

	.sign-in-submit-button-wrapper
		width: 100%
		padding: 0