$orange-color: #ff9a00
$light-orange-color: #ffb700
$skyblue-color: #2facda

$font-blue-color: #33abdd



$light-skyblue-color: #d5f8f1

$light-red-background-color: #ff594a

$gray-color: #b7c9d3

$registration-button-background: $light-orange-color

$dark-blue-color: #114e6d
$dark-gray-color: #6d6e72

$modal-dark-gray-color: #58595b

$form-input-background: #2880a6
$form-focus-input-background: $registration-button-background

$footer-background-color: #2880a6

$font-brown-color: #a56400

$registration-disabled-button-background: #86c7e7
$registration-disabled-button-text-color: #2781a4





//$colors: (
//  red: #ff0000,
//  green: #00ff00
//)


// classes
$submitButtonProgressClass: progress-bar-moving-bg

