$orange-color: #ff9a00
$light-orange-color: #ffb700
$skyblue-color: #2facda

$dark-orange-text-color: rgba(#DB8B21, 0.9)

$font-blue-color: #33abdd





$light-skyblue-color: #d5f8f1

$light-red-background-color: #ff594a


//$hover-color: $light-red-background-color
$hover-color: $orange-color
$hover-transition-duration: 0.2s

$large-object-hover-color: $light-orange-color

$gray-color: #b7c9d3

$registration-button-background: $light-orange-color

$dark-blue-color: #114e6d
$dark-gray-color: #6d6e72

$modal-dark-gray-color: #58595b

$form-input-background: #2880a6
$form-focus-input-background: $registration-button-background

$footer-background-color: #2880a6

$font-brown-color: #a56400

$registration-disabled-button-background: #86c7e7
$registration-disabled-button-text-color: #2781a4


$menu-blue-color: #2F8FB9




//$colors: (
//  red: #ff0000,
//  green: #00ff00
//)


// classes
$submitButtonProgressClass: progress-bar-moving-bg


$colors: (red: #ff594a, green: value2, key3: value3)

$orange-overlay-opacity: 0.1

$button-box-shadow: 0px 1px 2px rgba(0,0,0,0.3)

$basic-font-weight: 400


= small
	@media only screen and (max-width: 850px) and (min-device-pixel-ratio: 1.5), only screen and (max-width: 640px)
		@content

= small
	@media only screen and (max-width: 850px) and (min-device-pixel-ratio: 1.5), only screen and (max-width: 640px)
		@content
