@function rem-calc($value){
  @return #{$value / 16}rem;
}

@mixin vendor-prefix($name, $arguments...) {
  -webkit-#{$name}: #{$arguments};
  -ms-#{$name}: #{$arguments};
  -moz-#{$name}: #{$arguments};
  -o-#{$name}: #{$arguments};
  #{$name}: #{$arguments};
}

@mixin transform-style($value){
  @include vendor-prefix(transform-value, $value)
}

@mixin transform($value){
  @include vendor-prefix(transform, $value)
}

@mixin transition($value){
  @include vendor-prefix(transition, $value)
}

@mixin transition-duration($values...){
  @include vendor-prefix(transition-duration, $values)
}

@mixin transition-delay($value){
  @include vendor-prefix(transition-delay, $value)
}

@mixin transition-property($values...){
  //@include vendor-prefix(transition-property, $value)

  //$properties_vendor-prefixes: ( () );
  $res_values: ();
  $vendored_values: ();
  $need_vendor: false;
  @if index($values, transform) {
    $need_vendor: true;
  }
  $webkit_values: ();
  $o_values: ();
  $moz_values: ();
  $ms_values: ();
  $non_vendor_values: ();
  @if($need_vendor != false) {
    @each $value in $values {
      @if($value == transform){
//        @if( append($webkit_values, $value)){
//
//        }

        $webkit_values: append($webkit_values,-webkit-#{$value});
        $webkit_values: append($webkit_values, #{$value});

        $o_values: append($o_values, -o-#{$value});
        $o_values: append($o_values, #{$value});

        $moz_values: append($moz_values, -moz-#{$value});
        $moz_values: append($moz_values, #{$value});

        $ms_values: append($ms_values, -ms-#{$value});
        $ms_values: append($ms_values, #{$value});

        $non_vendor_values: append($non_vendor_values, #{$value});
      }
      @else{
        $webkit_values: append($webkit_values, $value);
        $moz_values: append($moz_values, $value);
        $o_values: append($o_values, $value);
        $ms_values: append($ms_values, $value);
        $non_vendor_values: append($non_vendor_values, $value);
      }
    }
    -webkit-transition-property: zip($webkit_values);
    -moz-transition-property: zip($moz_values);
    -o-transition-property: zip($o_values);
    -ms-transition-property: zip($ms_values);
    transition-property: zip($non_vendor_values);
  }
  @else{
    @include vendor-prefix(transition-property, $values)
  }
}

@mixin transition-timing-function($value){
  @include vendor-prefix(transition-timing-function, $value)
}

@mixin animation($value){
  -webkit-animation: $value;
  -moz-animation:    $value;
  -o-animation:      $value;
  animation:         $value;
}

@mixin animation-name($value){
  -webkit-animation-name: $value;
  -moz-animation-name:    $value;
  -o-animation-name:      $value;
  animation-name:         $value;
}

@mixin animation-duration($value){
  -webkit-animation-duration: $value;
  -moz-animation-duration:    $value;
  -o-animation-duration:      $value;
  animation-duration:         $value;
}

@mixin animation-iteration-count($value){
  -webkit-animation-iteration-count: $value;
  -moz-animation-iteration-count:    $value;
  -o-animation-iteration-count:      $value;
  animation-iteration-count:         $value;
}

@mixin animation-direction($value){
  -webkit-animation-direction: $value;
  -moz-animation-direction:    $value;
  -o-animation-direction:      $value;
  animation-direction:         $value;
}

@mixin animation-timing-function($value){
  -webkit-animation-timing-function: $value;
  -moz-animation-timing-function:    $value;
  -o-animation-timing-function:      $value;
  animation-timing-function:         $value;
}

@mixin animation-fill-mode($value){
  -webkit-animation-fill-mode: $value;
  -moz-animation-fill-mode:    $value;
  -o-animation-fill-mode:      $value;
  animation-fill-mode:         $value;
}

@mixin animation-delay($value){
  -webkit-animation-delay: $value;
  -moz-animation-delay:    $value;
  -o-animation-delay:      $value;
  animation-delay:         $value;
}

@mixin animation-play-state($value){
  -webkit-animation-play-state: $value;
  -moz-animation-play-state:    $value;
  -o-animation-play-state:      $value;
  animation-play-state:         $value;
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@function if($condition, $if-value, $else-value) {
  @if ($condition == true) {
    @return $if-value;
  } @else {
    @return $else-value;
  }
}

@mixin box-shadow($value){
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  -ms-box-shadow: $value;
  box-shadow: $value;
}

@mixin border-radius($value){
  @include vendor-prefix(border-radius, $value)
}

@mixin background-size($value){
  @include vendor-prefix(background-size, $value)
}

//@mixin background-image-linear-gradient{
//  background-image: -webkit-linear-gradient(
//    @content
//  );
//
//  background-image: -moz-linear-gradient(
//    @content
//  );
//
//  background-image: -ms-linear-gradient(
//    @content
//  );
//
//  background-image: linear-gradient(
//    @content
//  );
//}

@mixin vertical-align($percent-value: 50%) {
  position: relative;
  top: $percent-value;


  @include transform(-#{$percent-value})
}




@mixin white-button{
  background: white;
  color: $form-input-background;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  @include transition-duration(0.5s);
  @include transition-property(all);
}

@mixin grid-column-width($columns: 12, $total: 12){
  width: grid-calc($columns, $total);
}

@mixin register-button-disabled{
  background-color: $registration-disabled-button-background;
  line-height: 3.75rem;
  cursor: default;
  .registration-text {
    color: $registration-disabled-button-text-color;
  }
}

@mixin button-element {
  height: 3.75rem;
  display:inline-block;
  background: $registration-button-background;
  //width: 100%
  width: rem-calc(300);
  text-align: center;
  border-radius: rem-calc(3);
  cursor: pointer;
  box-shadow: $button-box-shadow;
  max-width: 100%;
}

@mixin button-svg{
  display: inline-block;
  position: relative;
  top: rem-calc(10);
  width: 2.5rem;
  height: 2.5rem;
}

@mixin button-text{
  font-size: 2rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
}

@mixin register-button {
  .register-button-a, .register-button-span {
    @include button-element;

    svg {
      @include button-svg;
      .clock-arrow, .clock-round, .clock-fire {
        fill: white;
      }
    }

    .registration-text {
      @include button-text;
    }
  }

  &.registration-disabled, &.event-expired {
    .register-button-span {
      @include register-button-disabled;
    }
  }
}