#dashboard-content-row{
  margin-top: 1.5rem;
}

#dashboard-menu-column{
  text-align: center;
}

#dashboard-menu-wrap{
  border-radius: 3px;
  padding: 20px 30px 30px 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  text-align: justify;

  .title{
    font-size: 1.4rem;
    color: $modal-dark-gray-color;
  }

  #dashboard-menu-links-ul{
    padding: 0;
  }

  .dashboard-menu-link-li{
    list-style: none;
    position: relative;
    margin: 12px 0;

    .dashboard-menu-link-icon{
      display: inline-block;
      width: 21px;
      height: 21px;
      position: relative;
      top: 7px;
      margin-right: 1rem;

      //position: absolute;
      //top: 50%;
      //transform: translateY(-50%);
    }

    .dashboard-menu-link-text{
      font-weight: 300;
      font-size: 1rem;
      //padding-left: 40px;
      display: inline-block;
      min-height: 21px;
      line-height: 1.4;

    }
  }

  .dashboard-menu-link-a{
    display: block;

    .dashboard-menu-link-text{
      .js &{
        border-bottom: 1px #ffb700 dashed; // $modal-dark-gray-color
      }
    }
  }

}

#dashboard-menu-another-links-ul{
  list-style: none;
  display: inline-block;
  padding: 0;
  text-align: justify;
  text-transform: uppercase;
}

.dashboard-menu-another-link-li-a{
  color: #aaa;
}


#dashboard-profile-column{
  #greetings{
    .title{
      font-size: 1.4rem;
      color: $modal-dark-gray-color;
      &:first-letter{
        text-transform: uppercase;
      }
    }
  }


}

@include keyframes(hide-save-field-button-animation){
  0%{
    //display: inline-block;
    //background: red;
    //width: 50px;
    //height: 40px;
  }
  100%{
    //display: inline-block;
    //background: green;
    //width: 50px;
    //height: 40px;
  }

}

#dashboard-profile-column, .simple_form.form-with-labels {
  .input {
    //border-bottom: 1px solid;
    height: 40px;
    display: block;
    margin: 8px 0 0 0;

    label {
      display: inline-block;
      width: 200px;
      overflow: hidden;
      font-size: 1.1rem;
      font-weight: 500;
      color: $modal-dark-gray-color;
      height: 40px;
      //line-break: 40px;
      //border-bottom: 1px solid #d3d3d3;
      line-height: 50px;
    }

    input {
      display: inline-block;
      width: auto;
      width: 262px;
      border: none;
      vertical-align: top;
      border-bottom: 1px solid #d3d3d3;
      line-height: 50px;
      background: transparent;

      &:focus{
        background: #86c7e7;
      }
    }

    .save-field-button {
      display: none;
      //height: 0;
      //width: 0;
      //overflow: hidden;
      width: 50px;
      height: 40px;
      background: $registration-button-background;
      margin: 0 0 0 10px;
      cursor: pointer;
      position: absolute;
      @include transition-duration(2s);
      @include transition-property(color, opacity, transform);//transform
      //opacity: 0;

      &:after {
        content: "";
        width: 14px;
        height: 25px;

        border-bottom: 2px solid white;
        border-right: 2px solid white;
        display: block;
        @include transform( translate3d(-50%, -50%, 0) rotate(45deg) );
        top: 39%;
        left: 50%;
        position: relative;
      }

      &.hide{
        //display: none;
      }
    }



    &.focus {
      label {
        //display: none;
      }
      input {
        //width: 100%;
        //max-width: 462px;
        //line-height: 40px;
      }

      .save-field-button{
        @include animation-name(hide-save-field-button-animation);
        @include animation-duration(2s);
        opacity: 1;
        @include animation-play-state(paused);

      }
    }

    &.error{
      height: 50px;
      &:after{
        display: block;
        color: red;
        font-size: 0.8rem;
      }

      &.invalid{
        content: attr(data-error-invalid);
      }

      &.empty{
        content: attr(data-error-empty);
      }

      &.data-error-taken{
        content: attr(data-error-taken);
      }
    }
  }
}

#dashboard-content {
  #edit_user_password {
    .input {
      label {
        display: inline-block;
      }
      input{
        width: 262px;
        line-height: 50px;
      }
    }
  }
}

#dashboard-content{
  form.simple_form.form-with-labels{

    &.mode-view{
      .button.devise-submit-button.orange-bg{
        display: none;
      }

      .input{
        &.not-saved-valid-changes{
          .save-field-button{
            display: inline-block;
          }
        }
      }
    }

    &.mode-edit, &:not(.mode-view){
      .js-trigger.mode{
        display: none !important;
      }

      .input{
        label{
          display: none;
        }

        input{
          border: 1px #e9e9e9 solid;
          width: 100%;
          max-width: 500px;
          line-height: 40px;

        }
      }

      .change-password-link{
        display: none !important;
      }
    }

    &.mode-edit{
      .js-trigger.cancel-changes{
        display: inline-block;
      }
      .devise-submit-button{
        max-width: 410px;
        vertical-align: top;
      }
    }

    .form-actions{
      margin-top: 2rem;

      .change-password-link{
        display: inline-block;
        float: none;
        width: 200px;
        text-align: left;
        vertical-align: top;
        line-height: 50px;
      }

      .js-trigger.mode{
        display: inline-block;
        width: 262px;
        text-align: left;
        height: 50px;
        vertical-align: top;
        line-height: 50px;
      }
    }
  }
}

.change-password-link{
  color: #58595b;
  line-height: 50px;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
}

#dashboard-profile-column{
  .simple_form.form-with-labels{
    max-width: 500px;

    .input{
      input{
        width: 300px;
      }
    }
  }
}

.js-trigger.cancel-changes{
  width: 90px;
  height: 60px;
  display: none;
  position: relative;

  &:before{
    content: "";
    border-top: 3px solid #b3b3b3;
    border-left: 3px solid #b3b3b3;
    width: 20px;
    height: 2px;
    display: block;
    position: absolute;
    top: 29px;
    left: 35px;
  }
  &:after{
    content: "";
    border-top: 3px solid #b3b3b3;
    border-left: 3px solid #b3b3b3;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    @include transform( rotate(-45deg) );
    top: 20px;
    left: 35px;
  }
}


#dashboard-profile-column{
  &.view-change-password{
    #dashboard-profile-column-personal-data{
      display: none;
    }

  #dashboard-profile-column-change-password{
    display: block;
  }
  }

}

#dashboard-profile-column-change-password{
  //form{
  display: none;
  //}

  .hint{
    display: none;
  }
}

form#change_password{
  .js-trigger.cancel-changes{
    display: inline-block;
  }
}

#dashboard-content{
  form.simple_form.form-with-labels.mode-view {
    &#change_password {
      .button.devise-submit-button.orange-bg{
        width: 410px;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}