// =========================================
// -----------------------------------------
// Table of contents
// -----------------------------------------
// =========================================

// 1. header
// 2. footer
// 3. breadcrumbs
// 4. pagination


$header-height: 90px;



// =========================================
// -----------------------------------------
// defaults
// -----------------------------------------
// =========================================

#body{
  font-size: 1rem;
  //color: #aaa;
  color: #6d6e71;
  font-weight: 400;
}





// =========================================
// -----------------------------------------
// 1. header
// -----------------------------------------
// =========================================

#fixed-header-top-container{
  height: 90px;
  background: $menu-blue-color;
  width: 100%;
  position: fixed;
  z-index: 1;
  opacity: 0;

  @include transition-property(opacity);
  @include transition-duration(0.5s);

  &.visible{
    opacity: 1;
    z-index: 3;

    & ~ #header-fixed{
      path{
        fill: white;
      }
    }
  }
}


#header{
  position: relative;
  height: 0;

}

#header-fixed{
  position: fixed;
  height: $header-height;
  height: 0;
  z-index: 10;
  width: 100%;
//  &:before{
//    position: absolute;
//    content: "";
//    height: 90px;
//    top: 0;
//    left: 0;
//    width: 100%;
//    background-color: green;
//    z-index: 1;
//  }
}

#header-logo{
  height: 32px;
  width: 245px;
  margin: 30px 0 0 5%;
  z-index: 1;
  position: relative;
}

#header-logo-svg{
  height: 32px;
  width: 245px;


}

#header-logo-svg-path-word-group{
  fill: #2f8fb9;


}

#header-menu-button {
  width: 24px;
  height: 25px;
  padding: 8px 0 0 0;
  z-index: 1000;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 38px 5% 0 0;
  position: fixed;

  padding: 0;
  margin: 30px 5% 0 0;
  margin: 30px 5% 0 0;


  @include transition-duration(0.6s);
  @include transition-property(all);
  @include transition-timing-function( cubic-bezier(0.7, 0.01, 0.3, 1) );

  #menu-focus-flag:checked ~ &{
    //margin: 30px 30px 0 0;
  }
}




#header-menu-button-label, #header-menu-close-button-label{
  width: 24px;
  height: 4px;
  right: 0;
  cursor: inherit;

  background: white;
  position: absolute;

  padding: 0;
  @include transition(border-top-color 1s);

  //@include transition-property(all);
  //@include transition-duration(0.3s);

  &, &:before, &:after{
    //@include transition(color 1s);
  }

  &:before, &:after{
    content: '';
    display: block;
    width: 24px;
    height: 4px;
    background: white;
    position: absolute;
    z-index: -1;

    //@include transition-property(width background-color);
    @include transition-property(all, background);
    //@include transition-duration(0.3s, 3s );
    @include transition-duration( 0.3s, 1s );
    //transition-duration: 0.3s;
  }

  &:before{
    top: 5px;
  }

  &:after{
    top: 14px;
  }



  &.blue{
    &{
      border-top-color: $menu-blue-color;
    }
    //&, &:before, &:after {
    &:before, &:after{
      //background-color: #2f8fb9;
      background-color: $menu-blue-color;
    }
  }

  &:hover{
    &{
      border-top-color: $hover-color;
    }
    &:before, &:after{
      background-color: $hover-color;
    }
  }
}

#header-menu-button-label{
  height: 24px;
  background: transparent;
  border-top: 4px white solid;
  position: relative;
  display: block;


  &:before{
      top: 5px;
  }

  &:after{
    top: 14px;
  }
  
}

#header-menu-close-button-label{
  height: 24px;

  &:before, &:after{
    top: 10px;
  }

  display: none;

  background: none;

  &:before, &:after {
    //top: 10px;
    background: $gray-color;
  }
  &:before {
    @include transform(rotate(-45deg));
  }
  &:after {
    @include transform(rotate(45deg));
  }

  #menu-focus-flag:checked ~ &{
    //margin: 30px 1.5rem 0 0;
  }
}

#header-menu-button{
  &:hover {
    #header-menu-button-label, #header-menu-close-button-label {
      &:before {
        //top: -9px;
        //top: 5px;
      }
      &:after {
        //top: 9px;
        //top: 14px;
      }
    }
  }


}

#menu-focus-flag{
  &:checked {

    & ~ #body-inner{
      #header-menu-button {
        margin: 30px 1.5rem 0 0;

        #header-menu-button-label {
          display: none;
        }

        #header-menu-close-button-label{
          display: block;
          //right: 1.5rem;
        }
      }

      #header-menu-container{
        display: block;
      }
    }
  }
}

#header-menu-container{

  max-width: 540px;
  width: 100%;
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  height: 100%;
  background: white;
  z-index: 10;
  padding: 1.5rem;
}

#header-menu-container-reset{
  height: 100%;
  position: relative;
}

#header-menu-locales-bar{
  width: 2rem;
  height: auto;
  display: inline-block;
  vertical-align: top;

  &:hover{
    & #header-menu-locales-list{
      display: block;
    }
  }
}

#header-menu-locales-list{
  padding: 0;
  margin: 0.25rem 0 0 0;
  display: none;
}

.header-menu-locale{

  width: 2rem;
  height: 2rem;
  display: inline-block;
  border-radius: 50%;
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;

  position: relative;
  background: transparent;

  margin: 10px 0 0 0;


}

.header-menu-inactive-locale{
  background: $gray-color;
  border: 1px solid $gray-color;
  padding: 2px;
  margin: 0.25rem 0;

  @include transition-property(border-color background);
  @include transition-duration(1s);



}

#header-menu-active-locale{
  background: $orange-color;

  //position: relative;

  //border: none;


}

.header-menu-inactive-locale-a{
  color: white;

  display: block;

  position: relative;
  line-height: 24px;
  border-radius: 50%;
  background: #b7c9d3;

  border: white 1px solid;

  @include transition-property(border-color background);
  @include transition-duration(1s);

  &:hover{

  }


}

.header-menu-inactive-locale{
  &:hover{
    background: rgba($orange-color, 0.6);
    border-color: rgba($orange-color, 0.6);
    .header-menu-inactive-locale-a{
      border-color: rgba($orange-color, 1);
      background: rgba($orange-color, 0.6);
    }
  }
}

#header-menu-user-wrapper{
  display: inline-block;

  &:hover{
    #header-menu-user{
      svg{
        fill: $hover-color;
      }
    }
  }
}

.header-menu-user-link{
  vertical-align: top;

  display: inline-block;
  width: 5rem;
  width: auto;
  height: 32px;
  position: static;

  svg{
    top: 10px;
  }

  &:hover{
    #header-menu-user{
        //&:before, &:after{
        //  background: rgba(255, 154, 0, 0.7);
        //}
      svg{
        fill: $hover-color;
      }
    }

    #header-menu-user-email{
      color: #ffb700;
    }
  }


}



#header-menu-user-dropdown {
  display: none;
  position: absolute;
  display: none !important;
}

.header-menu-user-dropdown-link{
  display: block;
}

#header-menu-user-menu:hover #header-menu-user-dropdown,
#header-menu-user-wrapper:hover #header-menu-user-dropdown,
#header-menu-user-dropdown:hover {
  display: block;
}

#header-menu-user{

  display: inline-block;
  width: 32px;
  width: auto;
  height: 32px;
  position: relative;
  border-radius: 50%;
  padding: 0;
  margin: 0 1.5rem 0 1.5rem;
  margin: 0 0.5rem 0 1.5rem;
  //top: 10px;
  //overflow: hidden;
  cursor: pointer;

  svg{
    height: 32px;
    width: 32px;

    position: relative;
    //top: 10px;
    fill: #b7c9d3;
    @include transition($hover-transition-duration fill);

  }

//  &:before, &:after{
//    position: absolute;
//    content: "";
//    display: block;
//    background: $gray-color;
//    border-radius: 50%;
//    @include transition-duration(1s);
//    @include transition-property(background-color)
//
//  }
//
//  &:before{
//    width: 14px;
//    height: 14px;
//    left: 9px;
//  }
//
//  &:after{
//    width: 40px;
//    height: 40px;
//    left: -4px;
//    top: 17px;
//  }
//
//  &:hover{
//    &:before, &:after{
//      background: rgba($orange-color, 0.7);
//    }
//  }
}

#header-menu-user-email{
  display: inline-block;
  font-size: 0.9rem;
  cursor: pointer;
  color: #aaa;
  @include transition(1s color)
}

#header-menu-search-wrapper{
  display: inline-block;
  vertical-align: top;
}

#header-menu-search-icon{
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  top: 13px;
  cursor: pointer;

  //font-size: 10em; /* This controls the size. */
  //display: inline-block;
  //width: 0.4em;
  //height: 0.4em;

  //position: relative;

  &:before, &:after{
    content: "";
    display: block;
    position: absolute;
    @include transition-duration(1s);


  }

  &:before{

    width: 26px;
    height: 26px;
    top: 0px;
    left: 3px;
    border-radius: 50%;
    border: 4px solid $gray-color;

    @include transition-property( border-color );
  }

  &:after{

    width: 10px;
    height: 6px;
    background: $gray-color;
    @include transform( rotate(45deg) );
    bottom: 4px;
    right: 0;
    border-radius: 0 40% 40% 0;

    @include transition-property( background-color );
  }

  &:hover{
    &:before, &:after{

    }

    &:before{
      border-color: $orange-color;
    }

    &:after{
      background-color: $orange-color;
    }
  }

}

#header-menu-search-input{
  width: 0;
  height: 32px;
  display: inline-block;
  @include transition-duration(1s);
  @include transition-property(width);

  border: none;
  outline: none;
  padding: 0;
  border-bottom: 2px $gray-color solid;


  &:focus{
    width: 270px;

    & + #header-menu-search-icon{
      border-bottom: 2px $gray-color solid;

      &:before, &:after{

      }

      &:before{
        border-color: $orange-color;
      }

      &:after{
        background-color: $orange-color;
      }
    }
  }
}

#header-menu-pages{
  text-align: right;
  list-style: none;
  position: relative;
  z-index: 4;
  background: white;
}

.header-menu-page-a{
  color: $font-blue-color;
  font-weight: 800;
  font-size: 3rem;
  text-transform: uppercase;
  @include transition-duration($hover-transition-duration);
  @include transition-property(color);

  &:hover{
    color: $hover-color;
  }
}

#header-menu-contact{
  bottom: 0;
  position: absolute;
  text-align: right;
  width: 100%;
}

.header-menu-contact-tip{
  color: $gray-color;
  font-size: 1.2rem;
  font-weight: 400;
}

#header-menu-contact-info-service-ul, #header-menu-contact-support-ul{
  list-style: none;
  margin: 0.25rem 0 1rem 0;
}

.header-menu-contact-email, .header-menu-contact-phone{
  height: 32px;
}

.header-menu-contact-email-a, .header-menu-contact-phone-a{

  svg{
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin-left: 5px;
  }
}

.header-menu-contact-email-text, .header-menu-contact-phone-text{
  display: inline-block;
  color: $form-input-background;
  font-weight: $basic-font-weight;
  font-size: 1.1rem;
  position: relative;
  top: -10px;
  @include transition-property(color);
  @include transition-duration($hover-transition-duration);

  &:hover{
    color: $hover-color;
  }
}



#header-menu-social-icons{

}

.header-menu-social-icon{
  display: inline-block;
  margin: 1rem;

}

#header-menu-social-icon-google_plus{
  margin-right: 0;
}

.header-menu-social-icon-a{
  svg{
    width: 2rem;
    height: 2rem;
    fill: #b3b3b3;

    @include transition-duration(1s);
    @include transition-property(fill);


    g{
      opacity: 1;
    }

    &:hover{
      fill: $hover-color;
    }
  }
}

@media #{$screen} and (max-width: em-calc(535)) {
  #header-menu-container {
    padding: rem-calc(22);
  }

  #header-menu-social-icons{
    padding: 0;
  }
}


// ==========================================================================
// --------------------------------------------------------------------------
// 2. footer
// --------------------------------------------------------------------------
// ==========================================================================

#footer{
  background-color: $footer-background-color;
  padding: 1.5rem 0 2rem 0;
  overflow: hidden;
}

#footer-menu-and-social-icons-row{
  margin-bottom: 3rem;
}

#footer-menu-ul{
  margin: 0;
  padding: 0;
}

.footer-menu-li{
  display: inline-block;
  margin: 0 0.5rem;

  text-transform: uppercase;

  &:first-child{
    margin-left: 0;
  }
}

.footer-menu-li-a{
  color: white;
  font-weight: 500;
}

#footer-social-icons-ul{
  list-style: none;
  padding: 0;
  margin: 0;
  height: 30px;
}

.footer-social-icons-ul-li{
  display: inline-block;
  padding: 0 12px;
  height: 30px;

  &:first-child{
    padding-left: 0;
  }
}

.footer-social-icons-ul-li-a{
  //display: i;
  .social-svg{
    width: 30px;
    height: 30px;
    display: block;
    background-color: transparent;
    border-radius: 50%;
  }

  .social-svg-g{
    opacity: 1;
  }

  .social-svg-g-path{
    fill: white;
    @include transition-property(fill);
    @include transition-duration($hover-transition-duration);
  }

  &:hover{
    .social-svg{
      //background-color: white;
    }

    .social-svg-g-path{
      fill: $hover-color;
    }
  }
}


#footer-partners-tip{
  font-weight: 100;
  color: white;
  font-size: 0.9rem;
  margin-bottom: 1.25rem;
}

#footer-partners-ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-partners-ul-li{
  display: inline-block;
  margin: 0 0.5rem;

  &:first-child{
    margin-left: 0;
  }
}

.footer-partners-ul-li-a-img{
  width: 78px;
  height: 35px;
  opacity: 0.5;

}

#footer-copyright-and-developed-by{
  font-weight: 100;
  color: white;
  font-size: 0.9rem;

  a{
    color: inherit;
    //text-decoration: underline;
    border-bottom: 1px solid white;
    @include transition-property(color, border-bottom-color);

    &:hover{
      color: $hover-color;
      border-bottom-color: $hover-color;
    }
  }

  #vs-logo-link{
    border-bottom: none;
  }
}



#footer-copyright{
  margin-bottom: 1.25rem;
}

#footer-developed-by{
  height: 40px;
  position: relative;
}

#footer-developed-by-text{
  @include transform( translateY(-50%) );
  top: 50%;
  position: absolute;
  display: block;
  left: 50px;
  margin: 0;
}

#vs-logo-link{
  display: inline-block;
  height: 40px;
  svg{
    width: 48px;
    height: 40px;
  }
}

@media (min-width: #{em-calc(811)}) {
  #footer-menu, #footer-social-icons{
    width: auto;
  }
}

@media (max-width: #{em-calc(810)}) {
  #footer{
    height: rem-calc(500);
    margin-top: rem-calc(-500);
    padding: rem-calc(50) 0;

  }

  #main{
    padding-bottom: rem-calc(500);
  }

  #footer-menu, #footer-social-icons{
    width: 100%;
  }

  #footer-menu, #footer-social-icons, #footer-partners{
    margin-bottom: rem-calc(60);
  }

  #footer-social-icons-ul, #footer-menu-ul, #footer-partners-ul{
    width: 100%;
    @include flexbox;
  }

  .footer-social-icons-ul-li, .footer-menu-li, .footer-partners-ul-li{
    @include flex-grow(1);
    text-align: center;
  }

  .footer-menu-li{
    font-size: 3vw;
  }

  .footer-social-icons-ul-li, .footer-partners-ul-li {
    a {
      display: inline-block;
    }
  }

  .footer-social-icons-ul-li-a {
    .social-svg {
      width: 8vw;
      height: 8vw;
      max-width: rem-calc(45);
      max-height: rem-calc(45);
    }
  }

  #footer-partners, #footer-copyright-and-developed-by{
    width: 100%;
  }

  #footer-copyright, #footer-developed-by{
    @include grid-column(6);
  }


}


// ==========================================================================
// --------------------------------------------------------------------------
// 3. breadcrumbs
// --------------------------------------------------------------------------
// ==========================================================================

#breadcrumbs-container{
  background-color: #f2f2f2;
  height: 2.5rem;
}

#breadcrumbs-ul{
  padding: 0 0 0 15px;
  margin: 0;
  height: 40px;
}

.breadcrumb{
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  top: 0px;
  position: relative;
  font-size: 0.9rem;

  a, span{
    color: #58595b;
  }

  a{
    &:hover{
      color: $orange-color;
    }
  }


  &:before{
    position: relative;
    display: inline-block;
    width: 10px;
    content: "";
    height: 10px;
    border-color: #6f6f71 #6f6f71 transparent transparent;
    border-width: 1px;
    border-style: solid;
    margin: 0 8px 0 5px;
    @include transform( rotate(45deg) );
  }
}

#active-breadcrumb-text{
  //color: $orange-color;
}

#breadcrumb-home{
  &:before{
    content: none;
  }

  &:hover {
    .home-svg-path {
      fill: $hover-color;
    }
  }
}

.inactive-breadcrumb-a{
  color: #6d6e72;

  &:hover{
    color: $hover-color;
  }
}

.breadcrumb{
  path{
    @include transition-duration($hover-transition-duration);
    @include transition-property(fill);
  }
}



#breadcrumb-home-a{
  svg{
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 10px;
  }
}

#active-breadcrumb-text{
  //color: $orange-color;
}



.about-orange-header{
  color: $orange-color;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 2rem 0 1rem 0;

  & + ul{
    margin: 0;
    list-style: none;
    padding: 0 0 0 20px;
    position: relative;

    li{
      &:before {
        content: "\2014";
        position: absolute;
        left: 0;
      }
    }

  }
}

.about-gray-header{
  color: $dark-gray-color;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  font-size: 3rem;
}


@media #{$small-only} {
  #breadcrumbs-container, #breadcrumbs-ul, .breadcrumb{
    height: rem-calc(60);
  }

  .breadcrumb{
    line-height: rem-calc(60);
    font-size: rem-calc(18);
    &::before{
      width: rem-calc(15);
      height: rem-calc(15);
      border-width: rem-calc(2);
      top: rem-calc(3);
      margin: 0 rem-calc(15) 0 rem-calc(8);
    }
  }

  #breadcrumb-home-a{
    svg{
      width: rem-calc(30);
      height: rem-calc(30);
      top: rem-calc(15);
    }
  }
}


// =========================================
// -----------------------------------------
// 4. pagination
// -----------------------------------------
// =========================================

.js{
  .pagination{
    display: none;
  }
}

.no-js{
  .pagination-wrapper {
    text-align: center;
    margin: 2rem 0;
  }

  .pagination{
    display: inline-block;

    span{
      display: inline-block;
    }

    em, a {
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
    }

    a {
      background: $light-red-background-color;
      color: white;
    }
  }

}